@import "/CSS/components/header.css";

@import "/CSS/components/buttons.css";

@import "/CSS/global.css";

@import "/CSS/components/footer.css";

@import "/CSS/components/main.css";

@import "/CSS/components/body.css";

/* revalia-regular - latin */
@font-face {
  font-family: "Revalia";
  font-style: normal;
  font-weight: 400;
  src: url("../css/webfonts/revalia-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../css/webfonts/revalia-v20-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../css/webfonts/revalia-v20-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../css/webfonts/revalia-v20-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("../css/webfonts/revalia-v20-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../css/webfonts/revalia-v20-latin-regular.svg#Revalia") format("svg"); /* Legacy iOS */
}
